body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app__preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__container {
  background: #3f8cb5;
  display: flex;
  flex-direction: column;
  width: 24vw;
  height: calc(100vh - 64px - 64px);
  margin-top: 64px;
  overflow-y: auto;
}

.list__empty {
  margin-left: 24px;
}

.list__map__container {
  display: flex;
}

.list__item__button {
  width: calc(100% - 16px);
  height: calc(100% - 0.7rem);
  text-align: left;
  vertical-align: middle;
  margin-left: -8px;
  padding-left: 32px;
  padding-top: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list__item__button--selected {
  color: #fff;
  background-color: #3f51b5;
}

.form__header__container {
  width: 60%;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__header {
  width: 90%;
}

.form__buttons__container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.form__buttons__container--no-margin {
  margin-top: 0;
}

.topbar__button {
  color: #fff;
}

.topbar__container {
  flex-grow: 1;
}

.topbar__title {
  flex-grow: 1;
}

.bottombar__container {
  flex-grow: 1;
}

.multiselect__container {
  position: absolute;
  top: 64px;
  left: 24vw;
  z-index: 9;
}


.MuiMenu-list {
  background: #b5a33f
}

.click__to__add {
  background: #3f51b5;
  color: #fff;
  padding: 0 1rem;
  border-radius: 3px;;
  position: absolute;
  z-index: 21;
  top: 74px;
  left: 25vw;
  cursor: pointer;
}